@charset "UTF-8";

body {
    color: #333;
}

h1,
h1>span {
    position: relative;
}

h1>span::before {
    content: "";
    display: block;
    width: 100%;
    height: 10px;
    background-color: #c7c6c6;
    position: absolute;
    bottom: 7px;
    z-index: -1;
}

table {
    border-collapse: collapse;
    margin-bottom: 10px;
}

table th {
    border-bottom: 3px double #ccc;
    font-size: 1em;
}

table td {
    border-bottom: 1px solid #ccc;
    font-size: 0.9em;
    padding: 10px 3px;
}

table td:nth-child(1),
table td:nth-child(6),
table td:nth-child(7) {
    text-align: center;
}

table td:nth-child(6)>a,
table td:nth-child(7)>a {
    font-size: 0.8em;
    background-color: rgb(96, 96, 97);
    padding: 4px 5px 5px;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
}

form>button {
    background-color: rgb(5, 5, 5);
    border: 0;
    padding: 8px 10px 10px;
    border-radius: 50px;
    color: #fff;
    cursor: pointer;
}

table td:nth-child(6)>a:hover,
table td:nth-child(7)>a:hover {
    background-color: rgb(240, 243, 159);
    color: #333;
}

/* insertNewbook.html */

input {
    border: 0;
    border-left: 1px solid #ccc;
}

input:focus {
    outline: none;
}

fieldset {
    margin-bottom: 10px;
}

form>input {
    background-color: rgb(5, 5, 5);
    border: 0;
    padding: 4px 5px 5px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
}